{% extends "::base.html.twig" %}

{% block title "Kommunalomat Karlsruhe" %}

{% block content %}
  <div class="medium-8 medium-offset-2 columns">
    <h3>Frage {{ question.weight }}</h3>
    <div class="panel">
      <h4>{{ question.getTitle }}</h4>
      <p>{{ question.getExplanation | nl2br }}</p>
      {{ form_start(form) }}
        {{ form_widget(form.approve, {'attr': {'class': 'small success'}}) }}
        {{ form_widget(form.neutral, {'attr': {'class': 'small'}}) }}
        {{ form_widget(form.disapprove, {'attr': {'class': 'small alert'}}) }}
      {{ form_end(form) }}
    </div>
    <div class="pagination-centered">
    <ul class="pagination">
      <li class="arrow unavailable"><a href="">&laquo;</a></li>
      {% for i in 1..question_count %}
        {% if question.getWeight == i %}
          <li class="current"><a href="{{ path("MadwaysKommunalomatBundleQuestionAnswer", {'weight': i})  }}">{{i}}</a></li>
        {% else %}
          <li><a href="{{ path("MadwaysKommunalomatBundleQuestionAnswer", {'weight': i})  }}" class="">{{i}}</a></li>
        {% endif %}
      {% endfor %}
      <li class="arrow"><a href="">&raquo;</a></li>
    </ul>
    </div>
  </div>
{% endblock %}