{% extends "::base.html.twig" %}

{% block content %}
    <div class="row">
      <h3>Im direkten Vergleich</h3>
      <table class="small-12 columns">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Du </th>
            {% for party_answer in questions.0.question.party_answers %}
              <td>{{party_answer.party.name}}</td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in questions %}
            <tr>
              <td>{{row.question.weight}}</td>
              <td>{{row.question.title}}</td>
              <td>{{row.user_answer}}</td>
              {% for party_answer in row.question.party_answers %}
                <td>{{party_answer.party.name}}: {{party_answer.answer}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
