{% extends "::base.html.twig" %}

{% block content %}
    <div class="row">
      <h3>Im direkten Vergleich</h3>
      <table class="small-12 columns">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Du </th>
            {% for party_answer in questions.0.question.party_answers %}
              <td>{{party_answer.party.name}}</td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in questions %}
            <tr>
              <td>
                <a href="{{ path("MadwaysKommunalomatBundleQuestionAnswer", {'weight': row.question.weight })  }}">
                  {{row.question.weight}}
                </a>
              </td>
              <td>{{row.question.title}}</td>
              <td>
                {% include 'MadwaysKommunalomatBundle:Question:_user_answer_button.html.twig' with {'answer': row.user_answer, 'question_weight': row.question.weight} %}
              </td>
              {% for party_answer in row.question.party_answers %}
                <td>
                  {% include 'MadwaysKommunalomatBundle:Question:_party_answer_button.html.twig' with {'answer': party_answer.answer, 'explanation': party_answer.explanation } %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="text-center">
        <a href="{{ url("MadwaysKommunalomatBundleResult") }}" class="">zurück zur Übersicht</a>
      </p>
    </div>
{% endblock %}
