{% extends "::base.html.twig" %}

{% block title "Kommunalomat Karlsruhe" %}

{% block content %}
  <div class="medium-8 medium-offset-2 columns">
    <h3>Frage {{ question.weight }}</h3>
    <div class="panel">
      <h4>{{ question.getTitle }}</h4>
      <p>{{ question.getExplanation | nl2br }}</p>
      <a href="#" class="button success small">Zustimmung</a>
      <a href="#" class="button small">Neutral</a>
      <a href="#" class="button alert small">Ablehnung</a>
    </div>
    <div class="pagination-centered">
    <ul class="pagination">
      <li class="arrow unavailable"><a href="">&laquo;</a></li>
      {% for i in 1..question_count %}
        {% if question.getWeight == i %}
          <li class="current"><a href="{{ path("MadwaysKommunalomatBundleQuestion", {'weight': i})  }}">{{i}}</a></li>
        {% else %}
          <li><a href="{{ path("MadwaysKommunalomatBundleQuestion", {'weight': i})  }}" class="">{{i}}</a></li>
        {% endif %}
      {% endfor %}
      <li class="arrow"><a href="">&raquo;</a></li>
    </ul>
    </div>
  </div>
{% endblock %}