{% extends "::base.html.twig" %}

{% block content %}
    <div class="row">
      <h3>Das Ergebnis</h3>
      <table class="small-12 columns">
        <thead>
          <tr>
            <th class="text-right"></th>
            <th>Übereinstimmung </th>
            <th>in % </th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
            <tr>
              <td width="25%" class="text-right"> 
                <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-bottom" 
                  title="<div style='max-width: 50em; overflow: auto;'><p>{{ result.party.description | nl2br }}</p></div>">
                  <a href="http://{{ result.party.url | replace({'http://': ""}) }}">
                    <img src="/images/{{ result.party.image }}" alt="{{ result.party.name }}" style="height: 40px; width: auto;"/>
                  </a>
                </span> 
              </td>
              <td width="60%"> <div class="progress"> <span class="meter" style="width: {{ (result.points / max_points *100) | round }}%"></span> </div> </td>
              <td width="15%">{{ (result.points / max_points *100) | round }} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>
        Mit dem folgenden Link kannst du dein Ergebnis mit anderen teilen: <a href="{{ url("MadwaysKommunalomatBundleResult", {'id': user.id })  }}" class="">{{ url("MadwaysKommunalomatBundleResult", {'id': user.id })  }}</a> 
      </p>
    </div>
{% endblock %}
