{% extends "MadwaysKommunalomatBundle::admin.html.twig" %}

{% block content_admin %}
    <div class="row">
      <h3>{{ party.name }}</h3>
      <p>{{ party.description | nl2br }}
      <br />
      <a href="{{ path("MadwaysKommunalomatBundlePartyEdit", {'id': party.id })  }}" class="">Edit</a>
      </p>
      <h3>Antworten</h3>
      <table class="small-12 columns">
        <thead>
          <tr>
            <th>#</th>
            <th>Frage</th>
            <th>Antwort</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for answer in answers %}
          <tr>
            <td> {{ answer.question.weight }} </a></td>
            <td> {{ answer.question.title }} </td>
            <td> {{ answer.getAnswerAsString }} </td>
            <td> <a href="{{ path("MadwaysKommunalomatBundlePartyAnswer", {'id': party.id, 'weight': answer.question.weight })  }}" class="">Edit</a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
